
html,
body {
  color: #151515;
  font-size: 15px;
  letter-spacing: 0.15px;
  line-height: 1.4;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

::-moz-selection {
  background: #F68252;
  text-shadow: none;
}

::selection {
  background: #F68252;
  text-shadow: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin-top: 0;
}

main img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

ul, ol {
  margin: 0;
  padding: 0;
}

input, textarea {
  border: 1px solid #ddd;
  background: white;
}

a:focus, button:focus, input:focus, textarea:focus {
  outline: none;
}

button {
  border: none;
  background: #EA2E12;
  color: white;
  padding: 1rem 3rem;
}

svg path {
  fill: inherit;
}

svg path:hover {
  fill: inherit;
}
/* 
@font-face {
  font-family: 'cormorant_garamondregular';
  src: url('../fonts/Cormorant_Garamond/cormorantgaramond-regular-webfont.woff2') format('woff2'),
        url('../fonts/Cormorant_Garamond/cormorantgaramond-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */

.social {
  display: flex; 
}

.social  li {
  padding: 0 1rem;
  list-style: none
}